* {
  background-color: pink;
}
.center {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  height: 920px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex: 1 1 0;
  border: 1px solid blue;
  justify-content: center;
}
.column {
  border: 1px solid brown;
  flex: 1;
}
.color-me {
  background-color: black;
}
